<%- include('./shared/header.ejs'); %>

    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <!-- <img src="https://www.nicepng.com/png/full/285-2858529_gossip-bubble-balo-de-fala-png.png" /> -->
        <img src="https://img.icons8.com/clouds/2x/chat.png" />
        <h1>Login - Gossip Application</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/">
          <input
            type="text"
            name="username"
            placeholder="Enter mobile or email"
            value=""
          />
          <p class="error show">Error message here</p>
          <input type="password" name="password" placeholder="Enter password" />
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
